.cart {
 
  // min-height: 423px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
  /* .cart__gift-message */
  &__gift-message {
    padding: 2rem;
    background: #8FD317;
    text-align: center;
    margin: 0 auto;
    color: $color-light-1;
    font-size: 2rem;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
  /* .cart__controller */
  &__controller {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
  }
  /* .cart__link */
  &__link {
    color: $color-light-1;
    font-size: 2rem;
    padding: 1rem 2rem;
    background: $color-primary;
    transition: 0.5s;
    margin: 0 1.5rem;
    cursor: pointer;
    &:hover{
      background: $color-light-1;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
  /* .cart__continue */
  &__continue {
    cursor: pointer;
    background: $color-light-1;
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover{
      background: $color-primary;
      color: $color-light-1;
    }
  }
}



 



 



 
// Let’s add some basic style to  product name and description.
// 
 


// .shopping-cart .quantity {
//   padding-top: 20px;
//   margin-right: 60px;
// }
// .shopping-cart.quantity input {
//   -webkit-appearance: none;
//   border: none;
//   text-align: center;
//   width: 32px;
//   font-size: 16px;
//   color: #43484D;
//   font-weight: 300;
// }





