.example {
	background: lightblue;
}
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px 0;
	border: 1px solid red;

}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	border: 1px solid green;
}
.col {
	border: 1px solid black;
	font-size: 2rem;
	width: calc(100% / 12 * 3 - 30px);
	margin-right: 15px;
	margin-left: 15px;
}

@media only screen and (max-width: 600px){

	.col{
		width: calc(100% / 12 * 6 - 30px);
	}
}
