<% var data = {
  title: "Каталог | Онлайн-магазин Вкусная Лавка",
  author: ""
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
	<div class="row height">
		<!-- Хлебные крошки -->
    
        <div class="breadcrumbs">
            <a href="/index.html" class="active">Главная</a>
            <a  href="/.html">О нас</a>
            <a href="/about.html">Что-то</a>
            <a href="/about.html">Что-то</a>
        </div>
		<h2 class="heading-secondary my-b-normal">
			<i class="fas fa-store-alt primary-color"></i>
			
			Каталог
		</h2>
		<div class="catalog-box features__cards-my-bottom">
			<a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>   
	        <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>   
	        <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>   
	        <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1231.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a> 
		    <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1231.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>     
		    <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/12.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>  
		    <a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/51.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>  
			<a href="/catalog/Orehi" class="catalog-box__link">
		      <img src="img/catalog/1234.jpg" alt="Card" class="catalog-box__img">
		      <span class="catalog-box__name">Орехи</span>
		    </a>  	
		</div>	

		


		
		
        
	</div>
	
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>